@page
@model BlabberApp.Client.Pages.RegistrationModel
@{
    ViewData["Title"] = "Registration";
}

<section id="main">
    <h1>Registration</h1>
    <div id="content">
        All the registration content will go here!
    </div>
</section>
